@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@400;500&family=Arimo:wght@700&family=Bebas+Neue&family=Bricolage+Grotesque:opsz@10..48&family=Heebo:wght@700&family=Inter:wght@600&family=Libre+Franklin&family=Limelight&family=Poppins:ital,wght@1,100;1,200;1,300;1,400;1,600&family=Proza+Libre&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,400;1,500&family=Tinos&family=Varela&family=Varela+Round&family=Zilla+Slab:wght@500;600&display=swap");

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
html{
    background-color:"white"
}
#video-banner {
	position: absolute;
	top: 160px;
	left: 0;
	width: 100vw;
	height: 73%;
	box-sizing: border-box;
	object-fit: cover;
	z-index: -1;
    border-bottom: 10px solid rgb(255, 0, 0);
}

body {
	background-color: white;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 90%;
	/* background-color: rgba(253, 117, 117, 0.432); Transparent white color */
	/* background:linear-gradient(to right,rgba(65, 0, 255, 0.4),rgba(255, 0, 232, 0.3)); */
	/* background: radial-gradient(
		circle,
		rgba(0, 0, 0, 0.278) 0%,
		rgba(0, 0, 0, 0.089) 0%,
		rgba(0, 0, 0, 0.404) 100%
	); */

	background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));
	z-index: -1;
}
:root {
	--brand-primary: #d63384;
	--brand-secondary: #ffffff;
	--space-lg-width-gutter: 3rem;
	--space-md-width-gutter: 2rem;
	--space-sm-width-gutter: 1.25rem;
}
#content {
	font-family: "Libre", serif;
	position: relative; /* To keep content above the overlay */
	text-align: center;
	color: #fff;
	z-index: 2; /* Place it above the overlay */
	margin-top: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
 #content h4 {font-family: 'Roboto', serif;
    font-family: 'Bebas Neue', sans-serif;
	font-size: 9rem;
	font-weight: bolder;
    
} 

.bttn--primary {
	margin-right: 30px;
	cursor: pointer;
	list-style: none;
	background: var(--brand-primary);
	border-color: var(--brand-primary);
	color: var(--brand-secondary);
}
.bttn {
	display: inline-block;
	align-items: center;
	justify-content: center;
	position: relative;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	line-height: 1.4;
	font-family: Antonio, Antonio-fallback, sans-serif;
	font-size: 1.25rem;
	padding: 1rem 2rem;
	-webkit-font-smoothing: auto;
	-moz-osx-font-smoothing: auto;
	border: none;
	border: 1px solid rgba(0, 0, 0, 0.125);
}

.container img {
	display: block;
	margin-top: 20px; /* Adjust this value to control the spacing between content and image */
	max-width: 100%;
	height: auto;
}

.image-container {
	margin-top: 20rem;
}

.cards2{
    margin-left: 100px;
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 3 columns */
    grid-template-rows: repeat(auto, 100px); /* 3 rows */
    row-gap: 100px; /* Gap between grid items */
  column-gap: 30px
}

.card2{
 box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  border-radius: 40px;
}


.card2:hover{
 box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
 cursor: pointer;
 transition: 0.5s ease;
}


.show-more-button  button{
	margin-top: 3.5rem;
	padding: .6rem 1rem;
	color: rgb(255, 255, 255);
	outline: none;
	border: none;
	background-color: rgb(94, 30, 30);
	font-weight: 600;
	border-radius: 5px;
}
.numbers{
	margin-top:5%;
}
.numbers dd,.numbers dt{
	color: rgb(122, 20, 20)
}
.numbers .flex{
	background-color: rgba(207, 120, 120, 0.384);
}


